.bgdrk {
	BACKGROUND-COLOR: #304949
}
.bglgt {
	BACKGROUND-COLOR: #dcf0f0
}
.bglft {
	BACKGROUND-COLOR: #779b9b
}
.tdbg {
	BACKGROUND-IMAGE: url(/on/img/szhrzn/tittlebar.jpg); BACKGROUND-REPEAT: repeat
}
